body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  position: relative;
  left: 0; /* 초기 위치는 중앙 */
}

/* 시간표가 열렸을 때 container의 위치를 왼쪽으로 이동 */
.shift-left {
  left: -350px; /* 원하는 위치로 조정 */
}

.timetable-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.timetable-toggle a {
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: calc(25% - 10px);
}

.form-group.full-width {
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

select,
input[type='text'],
button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
.timetable-list {
  position: fixed;
  top: 20px;
  right: -800px; /* 숨겨진 상태에서는 화면 밖에 위치 */
  width: 700px;
  height: 92%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.timetable-list.show {
  right: 2px; /* 시간표가 나타나는 위치 */
}

.timetable-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin-bottom: 20px;
}

.days-table {
  /* margin-top: 40px; */
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: -1px; /* 테이블 간격을 없앰 */
}

.timetable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.timetable th,
.timetable td,
.days-table th {
  border: 1px solid #ccc;
  padding: 0;
  text-align: center;
  height: 60px;
  position: relative;
}

.timetable .time {
  background-color: #f0f0f0;
  font-weight: bold;
}

thead th {
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 12px;
}

.times {
  height: 100%;
}

div.grid,
.time {
  height: 47.42px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.color0 {
  background-color: #aaf7ae;
}
.color1 {
  background-color: #92e396;
}

.color2 {
  background-color: #19f0d3;
}

.color3 {
  background-color: #e4eaf1;
}

.color4 {
  background-color: #d2d4d6;
}

.color5 {
  background-color: #efb1b1;
}

.color6 {
  background-color: #40dfad;
}

.color7 {
  background-color: #d4dc9df7;
}

.color8 {
  background-color: #d1d2d0;
}

.color9 {
  background-color: #b9c1b1;
}

.color10 {
  background-color: black;
}

div.cols {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
}
h6 {
  display: block;
  margin: 0px 7px 0px 7px;
  unicode-bidi: isolate;
  letter-spacing: -0.5px;
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  white-space: normal; /* 줄바꿈 허용 */
  word-wrap: break-word; /* 단어가 길면 줄바꿈 */
  text-align: left;
}
h5 {
  display: block;
  margin: 0px 7px 0px 7px;
  unicode-bidi: isolate;
  letter-spacing: -0.5px;
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  white-space: normal; /* 줄바꿈 허용 */
  word-wrap: break-word; /* 단어가 길면 줄바꿈 */
  text-align: left;
}

div.subject p,
em {
  margin: 0px 5px 0px 0px;
  color: #737373;
  font-weight: bold;
  font-size: 9px;
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  white-space: normal; /* 줄바꿈 허용 */
  word-wrap: break-word; /* 단어가 길면 줄바꿈 */
}

span {
  margin: 0px 5px 0px 0px;
  color: #737373;
  font-weight: bold;
  font-size: 9px;
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  white-space: normal; /* 줄바꿈 허용 */
  word-wrap: break-word; /* 단어가 길면 줄바꿈 */
}

div.nontimes {
  margin-top: 8px;
  border: 2px solid #d6d6d6;
}
div.subject {
  border-bottom: 1px solid #d6d6d6;
  overflow: hidden;
}
.close-timetable {
  top: 10px; /* 상단 여백 */
  right: 10px; /* 우측 여백 */
  background-color: #ff4d4d;
  color: white;
  border: none;
  width: 60px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 10px; /* 버튼 높이와 동일하게 설정 */
  font-size: 14px; /* 폰트 크기 조정 */
  border-radius: 4px; /* 약간의 둥근 모서리 */
}
.close-timetable:hover {
  background-color: #d32f2f;
}

.results-section {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#results {
  margin-top: 20px;
}

.output_result {
  border-collapse: collapse;
}

.output_result th,
.output_result td {
  border: 1px solid #ddd;
}

.output_result th {
  background-color: #f2f2f2;
}

.output_result td {
  font-size: x-small;
  white-space: nowrap;
  overflow: hidden;
}

/* .results-section .output_result tbody {
  width: 100%;
  border-collapse: collapse;
  max-height: 400px; 
  overflow-y: auto; 
  display: block;
} */

.results-section .output_result thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.results-section .output_result tbody {
  display: block; 
  max-height: 400px; 
  width: 100%; 
  overflow-x: hidden;
}

.results-section .output_result th,
.results-section .output_result td {
  padding: 8px; 
  width: 10%;
}

.results-section .output_result tbody tr {
  display: table; 
  width: 100%; 
  table-layout: fixed; 
}

/* .results-section .output_result {
  width: 100%; 
  border-collapse: collapse; 
  table-layout: fixed;
} */

.results-section .output_result::-webkit-scrollbar {
  width: 12px; /
}

.output_result tbody tr {
  position: relative; 
}

.output_result tbody tr:hover {
  background-color: #e0e0e0;
}

.add-btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content !important;
  transform: translate(-50%, -50%);
  color: black !important;
  background: none !important;
}

.output_result tbody tr:hover .add-btn {
  display: block;
}
p {
  margin: 0px;
}

/* .subject {
  position: relative;
} */

.close-btn {
  position: absolute;
  top: 1px;
  right: 10px;
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  width: fit-content !important;
  border: none;
  color: black !important;
  background: none !important;
  display: none;
}
.bin-icon {
  position: absolute;
  right: 5px; /* 우측으로 5px 떨어지게 설정 */
  bottom: 5px; /* 하단으로 5px 떨어지게 설정 */
  width: 13px; /* 아이콘의 크기 설정 */
  height: 13px;
}



/* .goto-generator:hover {
  background: none; 
} */

.filtering-section div:hover {
  transform: translateY(-5px); /* hover 시 살짝 위로 올라가는 효과 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* hover 시 그림자 강화 */
}

.filtering-section {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr; /* 2열 그리드 레이아웃 */
  gap: 20px; /* 카드 간의 간격을 넓게 설정 */
  margin-bottom: 20px;
  padding: 20px; /* 내부 여백 추가 */
  background-color: #f0f4f8; /* 섹션 전체 배경색 추가 */
  border-radius: 8px; /* 섹션 전체 모서리를 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.filtering-section div {

  border: 1px solid #ccc;
  padding: 15px;
  min-width: 150px;
  text-align: left;
  background-color: #ffffff; /* 카드 배경색 */
  border-radius: 8px; /* 카드 모서리 둥글게 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 카드 그림자 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* 검색 옵션을 위한 스타일 */
.filtering-section .search-options {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 옵션 간의 간격을 추가 */
  text-align: left;
  font-size: 14px; /* 폰트 크기 조정 */
}

.filtering-section label {
  font-weight: bold;
  color: #333; /* 라벨 색상 변경 */
}
/* '그룹 추가' 버튼 스타일 */
.add-group {
  display: none; /* 텍스트 크기에 맞게 버튼 크기 조정 */
  text-align: left;
  border: none;
  background: none;
  color: green; /* 텍스트 색상 초록색 */
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: underline; /* 밑줄 없애기 */
}

.add-group:hover {
  background: none; /* hover 시에도 배경색이 없도록 설정 */
}
/* '그룹 1' div 스타일 */
.subject-group {
  display: none;
}

.subject-group .group {
  border: 2px solid #000;
  padding: 15px;
  margin-bottom: 10px;
}

.subjectadd-btn {
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  color: #000; /* 텍스트 색상 */
  cursor: pointer; /* 클릭 가능한 커서 */
  width: fit-content;
  padding: 0; /* 기본 패딩 제거 */
  float: right;
}

.subjectadd-btn:hover {
  background: none; /* hover 시에도 배경색이 없도록 설정 */
}

.group {
  position: relative; /* 부모 요소에 relative 설정 */
  border: 2px solid #000;
  padding: 15px;
  margin-bottom: 10px;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa;
  font-size: 16px;
  text-align: center;
  pointer-events: none; /* 드래그가 placeholder 위에서 발생하지 않도록 */
  user-select: none; /* 텍스트 선택 방지 */
}

 .hidden {
  display: none;
}

.generated-timetables {
  display: flex;
  flex-direction: row;
  gap: 1px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.timetable-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.time-table, .day-table {
  border-collapse: collapse;
}

.time-table th,
.time-table td,
.day-table th,
.day-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.time-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.day-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.time-table td,
.day-table td {
  background-color: #fafafa;
}

.day-table {
  width: 100%;
}

.time-table {
  min-width: 100px;
}

.generated-content-table {
  flex-grow: 1;
  border-collapse: collapse;
}

.generated-content-table th, 
.generated-content-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.generated-content-table td {
  background-color: #f7f7f7;
}

.generated-content-table .subject {
  background-color: #d9eaf7;
}


.day-table,
.time-table {
  width: 100%;
  table-layout: fixed; 
}
.time-table{
  height: 800px;
}

.day-table thead{
  height: 60px;
}

.day-table th, 
.time-table th, 
.time-table td {
  width: 14.28%; 
  padding: 0px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}


.time-table .times2 .time2, 
.day-table th {
  width: 100%;
  padding: 0px;
}

.time2{
  border: 1px solid #ddd;
}

.times2{
  height: 100%;
  background-color: rgb(240 240 240);
}
.day-table th.sat, 
.day-table th.sun, 
.time-table td.sat, 
.time-table td.sun {
  display: none; 
}
.time2{
  height: 50px;
  box-sizing: border-box;
}

.grid2 {
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 50px; 
} 

.cols2{
  position: absolute;
}

.col2{
  position: absolute;
  width: 132.16px;
  overflow: hidden;
}

.add-subject-btn{
  width: 20px;
  height: 20px;
  float: right;
}

.cancle-add-btn{ 
  width: 15px;
  height: 15px;
  float: right;
  display: none;
}

#generate-planb, #cancle-planb{
  width: fit-content;
  background: none;
  color: red;
}

#select-planb{
  display: block;
  width: fit-content;
  float: right;
  font-size: 13px;
}

#planb-summary{
  display: flex; 
  justify-content: space-between;
}

#goto-before{
  width: fit-content;
  background: none;
  color: black;
  display: none;
}

#mov-timetable{
  width: fit-content;
  position: sticky;
  border-radius: 20px;
  background: red;
  bottom: 16px;
  float: right;
}

#cancle-btn-section{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.goto-generator {
  position: sticky;
  width: fit-content;
  bottom: 0;
  left: 50%;
  border-radius: 20px;
  transform: translateX(-50%);
  z-index: 1000;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}